{% extends 'base.html' %}
{% block title %}
	Properties
{% endblock %}
{% block main %}
<section class="container">
<h1>Property List</h1>

<div class="row">
{% for property in properties %}
<div class="card col-md-4 m-2">
  <h5 class="card-header">{{ property.name }}</h5>
  <div class="card-body">
    <h5 class="card-title">{{ property.type }}</h5>
    <p class="card-text">{{ property.address.town }}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>


{% endfor %}
</div>
</section>
{% endblock %}
